{% extends "ac_base.html" %}

{% load i18n %}

{% block content %}

<div class="row justify-content-center">
  <div class="col-md-6 ">
    <article class="card">
      <header class="card-header text-center ">
        <h2>Login</h2>
      </header>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          <div class="form-group row ">
            {% for field in form %}
            <label for="{{ field.id_for_label }}" class="col-sm-4 col-form-label text-right">{{ field.label }}</label>
            <div class="col-sm-8">
              {{ field }}
            </div>
            {% endfor %}
            {% if form.non_field_errors %}
            <div class="alert alert-danger mt-1">{{ form.non_field_errors }}</div>
            {% endif %}
          </div>
          <button type="submit" class="btn btn-primary btn-block mt-3">{% trans "Submit" %}</button>
          <div class="text-center mt-3">
            <a href="{% url 'password_reset' %}">{% trans "Forgot your password?" %}</a>
          </div>
        </form>
      </div>
    </article>
  </div>
</div>

{% endblock %}