<!DOCTYPE html>
{% extends 'delete.html' %}

{% block borrar %}


<body>
    <div class="container">
        <h1>Borrar dato de la Tabla: {{ tabla_seleccionada }}</h1>
        <form action="" method="post">
            {% csrf_token %}
            <h4>Selecciona la fila que quieres borrar:</h4>
            <div>
                <select name="column" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                    {% for item in columns %}
                    <option value="{{ item }}">{{ item }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <h4>Introduzca el Valor: </h4>
                <input type="text" name="value">
            <button type="submit" class="btn btn-primary">Borrar</button>
        </form>
    </div>
</body>



{% endblock %}