<!DOCTYPE html>

{% extends 'base.html' %}

{% block content %}


<head>
    {% load static i18n %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Index of the AUTO-GS" %}</title>
    <link rel="stylesheet" href="{% static 'polls/tabla.css' %}">
    <link rel="stylesheet" href="{% static 'polls/form.css' %}">
</head>

<body>
    <div class="container mt-5">
        <form id="createModelsForm" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="form-group">
                <h2>{% trans "Create data models:" %}</h2>
                <label class="mb-3" for="asn_files">{% trans "Drag and drop ASN Files here or click to select:" %}</label>
                <div id="dropZone" class="drop-zone">
                    <p>{% trans "Drag files here" %}</p>
                    <input type="file" id="asn_files" class="form-control-file" name="asn_files" multiple style="display: none;">
                </div>
                <div id="errorMessage" class="error"></div>
            </div>
            
            <h5>{% trans "Mark the telecommand models:" %}</h5>
            <div id="progressContainer" class="progress-container">
                <div id="progressBar" class="progress-bar"></div>
            </div>
            <div class="file-list" id="fileList">
                <!-- File list will be populated here -->
            </div>

            <input type="hidden" id="modulesTelecommand" name="modulesTelecommand">

            <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
            </div>
        </form>
    </div>

    <script>
        const dropZone = document.getElementById('dropZone');
        const fileInput = document.getElementById('asn_files');
        const fileList = document.getElementById('fileList');
        const errorMessage = document.getElementById('errorMessage');
        const modulesTelecommandInput = document.getElementById('modulesTelecommand');
        const progressContainer = document.getElementById('progressContainer');
        const progressBar = document.getElementById('progressBar');
        const MAX_FILE_SIZE = 1 * 1024 * 1024; // 1 MB

        let files = [];

        dropZone.addEventListener('click', () => fileInput.click());

        dropZone.addEventListener('dragover', (event) => {
            event.preventDefault();
            dropZone.classList.add('hover');
        });

        dropZone.addEventListener('dragleave', () => {
            dropZone.classList.remove('hover');
        });

        dropZone.addEventListener('drop', (event) => {
            event.preventDefault();
            dropZone.classList.remove('hover');
            handleFiles(event.dataTransfer.files);
        });

        fileInput.addEventListener('change', () => handleFiles(fileInput.files));

        function handleFiles(newFiles) {
            errorMessage.textContent = ''; // Clear previous error messages

            Array.from(newFiles).forEach(file => {
                if (!file.name.endsWith('.asn')) {
                    errorMessage.textContent = `{% trans "Only .asn files are allowed:" %} ${file.name}`;
                    return;
                }
                if (file.size > MAX_FILE_SIZE) {
                    errorMessage.textContent = `{% trans "File size exceeds 1 MB limit for file:" %} ${file.name}`;
                    return;
                }
                if (!files.some(f => f.name === file.name)) {
                    files.push(file);
                }
            });

            updateFileList();
        }

        function updateFileList() {
            fileList.innerHTML = ''; // Clear the list before adding new items

            files.forEach(file => {
                const fileItem = document.createElement('div');
                fileItem.className = 'file-item';

                const checkbox = document.createElement('input');
                checkbox.type = 'checkbox';
                checkbox.name = 'telecommandModels';
                checkbox.value = file.name;
                checkbox.addEventListener('change', updateModulesTelecommand); // Update the hidden input when checked state changes

                const label = document.createElement('label');
                label.textContent = file.name;

                const removeButton = document.createElement('button');
                removeButton.textContent = '❌';
                removeButton.title = '{% trans "Remove this file" %}';
                removeButton.addEventListener('click', () => removeFile(file.name));

                fileItem.appendChild(checkbox);
                fileItem.appendChild(label);
                fileItem.appendChild(removeButton);
                fileList.appendChild(fileItem);
            });

            updateModulesTelecommand();
        }

        function updateModulesTelecommand() {
            const checkedFiles = Array.from(document.querySelectorAll('input[name="telecommandModels"]:checked'))
                .map(checkbox => checkbox.value.replace(/\.[^/.]+$/, "")); // Remove file extension

            modulesTelecommandInput.value = checkedFiles.join(',');
        }

        function removeFile(fileName) {
            files = files.filter(file => file.name !== fileName);
            updateFileList();
        }

        function resetForm() {
            files = []; 
            fileList.innerHTML = ''; 
            document.getElementById('createModelsForm').reset();
            modulesTelecommandInput.value = ''; 
        }


        // Add event listener to the form submission
        document.getElementById('createModelsForm').addEventListener('submit', (event) => {
            event.preventDefault(); // Prevent default form submission

            const formData = new FormData(event.target);

            files.forEach(file => {
                formData.append('asn_files', file);
            });

            // Create a new XMLHttpRequest to handle form submission
            const xhr = new XMLHttpRequest();
            xhr.open('POST', event.target.action, true);

            let progressText = document.createElement('div');
            progressText.className = 'progress-text';
            progressText.textContent = '0%';
            progressContainer.appendChild(progressText);

            xhr.upload.addEventListener('progress', (event) => {
                if (event.lengthComputable) {
                    const percentComplete = Math.round((event.loaded / event.total) * 100);
                    progressBar.style.width = percentComplete + '%';
                    progressText.textContent = percentComplete + '%';
                    progressContainer.style.visibility = 'visible';
                }
            });

            // Handle the response
            xhr.onload = () => {
                if (xhr.status === 200) {
                    // Resetear el formulario y limpiar archivos
                    resetForm();
                    progressContainer.style.visibility = 'hidden';
                } else {
                    errorMessage.textContent = `{% trans "Error during file upload:" %} ${xhr.statusText}`;
                }
 
            };



            xhr.send(formData);
        });
    </script>
</body>

{% endblock %}