<!DOCTYPE html>

{% extends 'base.html' %}

{% block content %}


<head>
    {% load static i18n %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Index of the AUTO-GS" %}</title>
    <link rel="stylesheet" href="{% static 'polls/tabla.css' %}">
</head>

<body>
    <div>
        <div class="container">
            {% if nav_items %}
            <h2>{% trans "List of tables" %}</h2>
            <ul>
                {% for item in nav_items %}
                <li class="card m-3 bg-light"><a href="{% url 'tabla' item %}">{{ item }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
            <h4>{% trans "No tables" %}</h4>
            <button type="button" class="btn btn-primary" onclick="window.location.href='/polls/create_models/'">
                {% trans "Create a new table" %}
            </button>
            {% endif %}
        </div>
    </div>
</body>


{% endblock %}