<!DOCTYPE html>
{% extends 'update.html' %}

{% block modificar %}

<head>
    {% load static i18n %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Modify table" %}</title>
</head>

<body>
    <div class="container">
        <h1>{% trans "Modify table: " %} {{ tabla_seleccionada }}</h1>
        <form action="" method="post">
            {% csrf_token %}
            <h4>{% trans "Select the row you want to modify: " %}</h4>
            <div>
                <select name="column" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                    {% for item in columns %}
                    <option value="{{ item }}">{{ item }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <h4>{% trans "Enter the Value: " %}</h4>
                <input type="text" name="value">
            </div>
            <h4>{% trans "Select the column and enter the value you want to modify: " %}</h4>
            <div>
                <select name="new_column" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"> 
                    {% for item in columns %}
                    <option value="{{ item }}">{{ item }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <h4>{% trans "Enter the Value: " %}</h4>
                <input type="text" name="new_value">
            </div>
            <button type="submit" class="btn btn-primary">{% trans "Modify" %}</button>
        </form>
    </div>
</body>

{% endblock %}
