<!DOCTYPE html>

{% extends 'base.html' %}

{% block content %}


<head>
    {% load static i18n %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Index of the AUTO-GS" %}</title>
    <link rel="stylesheet" href="{% static 'polls/tabla.css' %}">
</head>

<body>
    <div>
        <div class="container">
            <form id="processForm" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="modulesTelecommand">Modules Telecommand:</label>
                <input type="text" id="modulesTelecommand" name="modulesTelecommand" required><br><br>
            
                <label for="keyspace">Keyspace:</label>
                <input type="text" id="keyspace" name="keyspace" required><br><br>
            
                <label for="contact_points">Contact Points:</label>
                <input type="text" id="contact_points" name="contact_points" required><br><br>
            
                <label for="clusterPort">Cluster Port:</label>
                <input type="text" id="clusterPort" name="clusterPort" required><br><br>
            
                <label for="asn_files">ASN Files:</label>
                <input type="file" id="asn_files" name="asn_files" multiple required><br><br>
            
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>


{% endblock %}