
/* Estilos generales para el navbar */
*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

* {/* Hacer que la barra toque los bordes*/
    padding: 0;
    margin: 0;
}

nav {
    background-color: #333; /* Color de fondo del navbar */
    overflow: hidden;
    margin-bottom: 50px;
    padding: 20px;
}

nav ul {
    list-style-type: none; /* Quita los puntos de la lista */
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left; /* Alinea los elementos del navbar en línea */

}

nav ul li a {
    display: block; /* Hace que los enlaces del navbar se muestren como bloques */
    color: white; /* Color del texto de los enlaces */
    text-align: center; /* Centra el texto dentro de los enlaces */
    padding: 14px 16px; /* Espaciado interno de los enlaces */
    text-decoration: none; /* Quita el subrayado de los enlaces */
}

nav ul li p {
    padding: 14px 16px; /* Espaciado interno de los enlaces */
    margin-top: 10px;
}

/* Estilo para el enlace activo (página actual) */
nav ul li a.active {
    background-color: #4CAF50; /* Color de fondo del enlace activo */
    position: absolute;

}

/* Cambia el color del enlace al pasar el mouse por encima */
nav ul li a:hover {
    background-color: #555; /* Color de fondo al pasar el mouse */
}

/*Pone el último elemento a la derecha y el penúltimo*/
nav ul li:last-child,
nav ul li:nth-last-child(2) {
    float: right;
}

/* Estilos para hacer el navbar responsivo */
@media screen and (max-width: 600px) {
    nav ul li {
        float: none; /* Cambia el comportamiento de los elementos a apilados */
        position: absolute;

    }
}

/* Styles for the dropdown menu */
 .my-dropdown {
    position: none;
 } 
.dropdown-content {
    display: none; /* Hide the dropdown content by default */
    position: absolute; /* Position the dropdown content absolutely relative to its parent */
    background-color: #f1f1f1; /* Background color for the dropdown content */
    min-width: 160px; /* Set a minimum width for the dropdown content */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Add a subtle shadow */
    z-index: 1;
}

.dropdown-content li {
    float: none;
}
.dropdown-content li:nth-last-child(2),
.dropdown-content li:last-child {
    float: none;
}

.dropdown-content  li a{
    color: black; /* Color del texto */
}

.dropdown-content  li a:hover{
    background-color: #b3b3b3; /* Color de fondo al pasar el mouse */
}

.my-dropdown:hover .dropdown-content {
    display: block; /* Show the dropdown content on hover */
}

.logo-container {
    display: flex; /* Utilizar flexbox para disposición flexible */
    justify-content: space-between; /* Alinear elementos a los extremos */
    align-items: center; /* Centrar verticalmente los elementos */
    padding: 10px;
    background-color: #f0f0f0;
}

.logo-container img, .logo-container h1 {
    margin: 0; /* Eliminar márgenes predeterminados */
}

.logo-container img:last-child {
    margin-left: auto; /* Mover la última imagen a la derecha */
}